body h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.orange {
    color: #FBA24F;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 76, 10), rgb(255, 196, 3));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.f-con {
    display: flex;
    margin: 130px;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 50%;
}

#vino {
    color: rgb(150, 148, 146);
}

#chotto img {
    width: 80%;
}

.back-g {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}

#gap {
    text-align: center;
}

#wh {
    color: rgb(126, 161, 161);
}
#rec-list{
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 5%;
}
.rec-title{
    border: 10px;
    border-style: solid;
    border-color: rgba(120, 116, 115, 0.77);
    border-radius: 50px;
    padding: 10px;
    width: 25%;
    height: 130%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(85, 96, 102, 0.2) 0px 7px 29px 0px;
}
.rec-title img{
    width: 100%;

}
.rec-title p{
    width: 55%;
    margin-right: auto;
}
#soc-status{
  width: 70%;
  display: flex;
  height: 200px;
  align-content: center;
  box-shadow:  rgb(1, 1, 20) 0px 7px 29px 0px;;
  margin-top: 25px;
  margin-bottom: 90px;
  margin-left: 15%;
  margin-right: 10%;
}
.status{
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-right: auto;
}
.status h1{
    margin-bottom: 5%;

}
footer{
   margin-top: 50px;
   width: 90%;
   padding: 20px 0 40px 20px;
   background-color: #d87d0e;
   height: auto;
}
footer ul{
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 5px;
}
footer ul li {
    display: inline-block;
  }
  footer .social {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size:30px 30px;
  }
  
  footer .twitter {
    background-image: url(images/twitter.svg);
  }
  footer .linkedin {
    background-image: url(images/linkedin.svg);
  }
  footer .github {
    background-image: url(images/github.svg);
  }
  footer p {
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-align: center;
  }