body h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.orange {
    color: #FBA24F;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 76, 10), rgb(255, 196, 3));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.f-con {
    display: flex;
    margin: 130px;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 50%;
}

#vino {
    color: rgb(150, 148, 146);
}

#chotto img {
    width: 80%;
}

.back-g {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}

#gap {
    text-align: center;
}

#wh {
    color: rgb(126, 161, 161);
}
.rec-list{
    display: flex;
    margin: 2px;
    padding: 5%;
}
.rec-title{
    border: 15px;
    border-style: solid;
    border-color: rgb(178, 208, 212);
    border-radius: 50px;
    padding: 10px;
    width: 25%;
    height: 130%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(85, 96, 102, 0.2) 0px 7px 29px 0px;
}
.rec-title img{
    width: 200px;

}
.rec-title p{
    width: 55%;
    margin-right: auto;
}
