body h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: #FBA24F;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 76, 10), rgb(255, 196, 3));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.f-con {
    display: flex;
    margin: 130px;

}

.half-width {}